body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}

.container{
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    background-color: grey;
    border: 2px solid;
}

.display-container{
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
    border: 2px solid;
    width: 370px;
    /* word-wrap: break-word; */
    /* word-break: break-all; */
}

.expression, .input{
    min-height: 50px;
    height: fit-content;
    background-color: white;
    text-align: right;
    word-break: break-all;
}

.expression{
    border-radius: 10px 10px 0 0;
    font-size: 20px;
}

.input{
    font-size: 35px;
}

#CLEAR{
    background-color: #e74c3c;
}

#DELETE{
    background-color: #8e44ad;
}

.btn-container, .btn-row{
    margin-bottom: 20px;
}

button{
    font-size: large;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
}

.input-container{
    display: flex;
    justify-content: center;
    gap: 0 20px;
}

.btn-container{
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    /* background: linear-gradient(90deg,rgb(255, 32, 32), tomato); */
}

.btn-container button{
    opacity: 0.8;
    padding: 0;
    width: 25%;
    height: 60px;
}

.btn-container button:hover{
    opacity: 1;
}

.btn-container p{
    font-size: xx-large;
}

.btn-row button{
    width: 80px;
    height: 60px;
}

.btn-row button:nth-child(2),
.btn-row button:nth-child(3){
    margin-left: 10px;
}

.operator-btn-div{
    display: flex;
    flex-direction: column;
}

.operator-btn-div button{
    width: 80px;
    height: 60px;
    margin-bottom: 20px;
}

.operator{
    background: #2980b9;
}

.operand{
    background-color: #5d6d7e;
}

.dot{
    background-color: #abb2b9 ;
}

.equal{
    background-color:  #148f77;
}